body {
    font-family: $lato;
    font-size: 16px;
    color: $color_secondary;
}

img {
    max-width: 100%;
    height: auto;
}
 
h1 {
    font-size: 2rem;
}

h1,
h2 {
    text-transform: uppercase;
}

h3 {
    font-weight: $regular;
}

p {
    text-align: justify;
    font-weight: $light;
}